.edit-form {
    max-width: 540px; 
    margin: 0 auto; 
  
    .form-item {
      margin-bottom: 16px; 
      .ant-input,
      .ant-select-selector {
        border-radius: 4px; 
      }
    }
  
    .submit-button {
      width: 100%; 
    }
  }
  